<a href="https://colab.research.google.com/github/kushal-rn2/python/blob/master/26_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Find Largest number from given three numbers
a=int(input("enter the number"))
b=int(input("enter the number"))
c=int(input("enter the number"))
if a>b and a>c:
 print(a,"is the largest number")
elif b>a and b>c:
  print(B, "is largest number")
else:
 print(c,"is the largest number")

enter the number2
enter the number678
enter the number5554
5554 is the largest number

#While Statement:
###syntax:
#####While boolean_condition:<br>
             statement<br>
             increment / decrement <br>

In [0]:
x=0
while x<5:
 print("gitam")
 x=x+1

gitam
gitam
gitam
gitam
gitam

In [0]:
#Print n nuatural numbers wsing whileloop
#input:15
#output:1234567891011121314
n=int(input("enter a number"))
i=1
while i<n:
  print(i,end=" ")
  i=i+1

enter a number15
1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [0]:
#add only even numbers 1to 
#input:10
#output:30
n=int(input("enter a number"))
i=1
sum=0
while i<=n:
  if i%2==0:
    sum=sum+i
  i=i+1
print(sum)

enter a number10
30

In [0]:
n=int(input("enter a number"))
while n!=0:
   r=n%10
   print(r,end=" ")
   n=n//10

enter a number135
5 3 1

#Functional Programming
- simple
- easy read
- lengthy programs into sub programs

##Syntax:
def nameofthefunction(<parameters>):
  statements
  return

In [0]:
#input:1234
#output:6(2+4)
def addevendigit(n):
  sum=0
  while n!=0:
    r=n%10
    if r%2==0:
       sum=sum+r
    n=n//10
  return sum
addevendigit(1234)

6

In [36]:
#read input
#input:1935646
#output:9
def largest(n):
  l=0
  while n!=0:
    r=n%10
    if r>l:
      l=r
    n=n//10
  return l
largest(19355364)

9

In [41]:
#input:123
#out 321
def revnum(n):
  while n!=0:
    r=n%10
    print(r,end=" ")
    n=n//10
revnum(123)

3 2 1

In [45]:
#palindrom or not
def ispalindrome(n):
  rev=0
  buffer=n
  while n!=0:
       r=n%10
       rev=rev*10+r
       n=n//10
  if buffer==rev:
    return "yes"
  else:
    return "no"
print(ispalindrome(123))
print(ispalindrome(121))

no
yes

In [46]:
#function to print n natural numbers
def natural(n):
  for i in range(1,n+1):
    print(i,end=" ")
natural(10)

1 2 3 4 5 6 7 8 9 10

In [50]:
def natural(l,b):
  for i in range(l,b+1):
    print(i,end=" ")
natural(15,25)

15 16 17 18 19 20 21 22 23 24 25

In [51]:
def natural(l,b):
  for i in range(l,b+1,4):
    print(i,end=" ")
natural(1,10)

1 5 9

In [61]:
def reverange(start,end):
  for i in range(end,start-1,-1):
      print(i,end=" ")
reverange(1,10)

10 9 8 7 6 5 4 3 2 1

#Data Structures
- list
- tuple
- distionary
##List:
- its one comman data structure in python,the itemsare seperaeted by comma and closed by [ ]
- crud
- c- create
- r- read
- u- update
- d- delete
- list can be changed or mutable
##Example
- list[1,2,3,4,5]

In [63]:
li=[1,2,3,4,5]
print(li)
print(li[0])
print(li[-1])

[1, 2, 3, 4, 5]
1
5